<p id="notice"><%= notice %></p>

<h1>Category Details</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_details.each do |category_detail| %>
      <tr>
        <td><%= category_detail.name %></td>
        <td><%= link_to 'Show', category_detail %></td>
        <td><%= link_to 'Edit', edit_category_detail_path(category_detail) %></td>
        <td><%= link_to 'Destroy', category_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category Detail', new_category_detail_path %>
