<%= form_for(shelf_detail) do |f| %>
  <% if shelf_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shelf_detail.errors.count, "error") %> prohibited this shelf_detail from being saved:</h2>

      <ul>
      <% shelf_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
