<p id="notice"><%= notice %></p>

<h1>Shelf Details</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shelf_details.each do |shelf_detail| %>
      <tr>
        <td><%= shelf_detail.address %></td>
        <td><%= link_to 'Show', shelf_detail %></td>
        <td><%= link_to 'Edit', edit_shelf_detail_path(shelf_detail) %></td>
        <td><%= link_to 'Destroy', shelf_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shelf Detail', new_shelf_detail_path %>
