<%= form_for(borrower_detail) do |f| %>
  <% if borrower_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(borrower_detail.errors.count, "error") %> prohibited this borrower_detail from being saved:</h2>

      <ul>
      <% borrower_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :borrower_id %>
    <%= f.number_field :borrower_id %>
  </div>

  <div class="field">
    <%= f.label :book_id %>
    <%= f.number_field :book_id %>
  </div>

  <div class="field">
    <%= f.label :borrowed_from %>
    <%= f.datetime_select :borrowed_from %>
  </div>

  <div class="field">
    <%= f.label :borrowed_to %>
    <%= f.datetime_select :borrowed_to %>
  </div>

  <div class="field">
    <%= f.label :actual_return_date %>
    <%= f.datetime_select :actual_return_date %>
  </div>

  <div class="field">
    <%= f.label :issued_by %>
    <%= f.number_field :issued_by %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
