<p id="notice"><%= notice %></p>

<p>
  <strong>Borrower:</strong>
  <%= @borrower_detail.borrower_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @borrower_detail.book_id %>
</p>

<p>
  <strong>Borrowed from:</strong>
  <%= @borrower_detail.borrowed_from %>
</p>

<p>
  <strong>Borrowed to:</strong>
  <%= @borrower_detail.borrowed_to %>
</p>

<p>
  <strong>Actual return date:</strong>
  <%= @borrower_detail.actual_return_date %>
</p>

<p>
  <strong>Issued by:</strong>
  <%= @borrower_detail.issued_by %>
</p>

<%= link_to 'Edit', edit_borrower_detail_path(@borrower_detail) %> |
<%= link_to 'Back', borrower_details_path %>
